{% extends 'base.html' %}

{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Export Cash Out Records</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_cashout' %}">Cash Out</a></li>
                    <li class="breadcrumb-item active">Export Cash Out</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Click below to download the cashout data as CSV file</h5>
                    <a href="{% url 'export_cashout' %}" class="btn btn-primary">Export CSV</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
